/* The code from lines 2-4 puts the title of the website in the center */
.title{ 
    text-align:center;
}
/* The code from lines 6-10 adds the black background-color and white text color for each section heading. If you want to change the color of the section headers, change this code!*/  
div {
    color:purple;
    text-align: center;
    background-color: cyan;
    
}
p{
    font-size:25px;}
body{
    background-color: grey;
}
.image1 { 
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    width: 300px;
}